.weatherinfo h1 {
  font-size: 95px;
  margin-top: 55px;

  height: 30px;
  width: auto;
  line-height: 0px;
  padding-bottom: 40px;
}

.weatherinfo ul {
  padding: 0;
  line-height: 20px;
}

.weatherinfo li {
  list-style-type: none;
}

.weatherinfo .weather-image-info {
  padding-right: 0;
  text-align: right;
  height: 75px;
  
}

.weatherinfo .weather-status {
  text-align: left;
  padding-left: 20px;
  margin-top: 18px;
}

.weatherinfo .additional-info {
  color: olive;
}
