.weather-temperature {
  width: 170px;
}

.weather-temperature .current-temperature {
  display: inline-block;
  font-size: 95px;
  font-weight: bold;
  position: relative;
  top: -18px;

}

.weather-temperature .units {
  position: relative;
  top: -75px;
  font-weight: bold;
  color:#3e7496;
  font-size: 25px;
}

.weather-temperature .fahrenheit-link {
  text-decoration: none;
  color:#9ebbce;
}

.weather-temperature .celsius-link {
  text-decoration: none;
  color:#9ebbce;
  
}

.weather-temperature .metric {
  display: inline-block;
  font-size: 16px;
}

.weather-temperature .fehrenheit a {
  display: inline-flex;
  text-decoration: none;
}
